:root{
    font-family: "Open Sans", sans-serif;
}

body{
    margin: 100px;
}

h3 {
    color: #E1624F;
    text-transform: uppercase;
}

#introducao p {
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

section p {
    font-size: 16px;
    text-align: justify;
}

section img {
    width: 100%;
    border-radius: 28px;
    padding-top: 20px;
}

#templo-haedong-yonggungsa p + p{
    font-weight: bold;
}